body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    position:absolute;
    margin-bottom: 95vh;
}

.reset {
    position: absolute;
    margin-top: 90vh;
}


#container {
    display: flex;
    flex-direction: column;

    background-color: green;
}

.row {
    display:flex;
}

.square {
    background-color: white;
    border: solid 1px black;    
    padding: 10px;    
}

.colorSquare {
    background-color: black;
}

.hoverSquare {
    background-color: grey;
}